---
---

$section-headings-color: #9C4E81 !important;

@import "{{ site.theme }}";
.page-header {
  color: #F1F6FA;
  text-align: center;
  background-color: #9C4E81;
  background-image: none !important;

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

